.sorting {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.searchBox {
  background-color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.searchBox:active,
.searchBox:focus {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
