.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navBar{
  background-color: #009879;
  color: #fff;
  padding: 25px;
  margin-bottom: 40px;
}

.navBar ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  column-gap: 50px;
  margin: 0;
}

.navBar ul li{
  text-decoration: none;
}
.navBar ul li a{
  color: white;
  text-decoration: none;
}